<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>My node Site</title>

        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

          <!-- mi menu -->
          <style>
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
            }
            
            li {
              float: left;
            }
            
            li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            }
            
            li a:hover {
              background-color: #111;
            }
            </style>
            </head>
            <body>
            
            <ul>
              <li><a class="active" href="http://localhost:3000">Home</a></li>
              <li><a href="http://localhost:3000/contact">Contact</a></li>
              <li><a href="http://localhost:3000/about">About</a></li>
            </ul>
            <!-- mi menu -->

            <img href="../public/img/seph.jpg">

        {{{body}}}

        <h1>Roberto Ibarra Ordorica</h1>

    </body>

</html>
